/*TABLE BORDER*/

table.table-bordered {
    border:1px #17a2b8;
    margin-top:20px;
  }
table.table-bordered th, table.table-bordered td {
    border:1px solid #17a2b8;
}

.colwid {
    width: 90px;
}