/*TOP NAV CSS*/

.logosz {
  height:40px;
} 

a:link, a:visited {
    color: white; 

  }
  
  .topnav a:hover {
    color:white;
    text-decoration:underline;
  }
  
  .topnav a.active {
    color: #17a2b8;
    text-decoration: none;
  }

  #btnhov a:hover {
    text-decoration: none;
  }


.form-control:focus {
    border-color:#17a2b8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 162, 184, 0.6);
}

.fab {
    color:#17a2b8;
}
